@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/* UNIVERSAL CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #333333;
    --lightDark: #4F4F4F;
    --softDark: #BDBDBD;
    --white: #fff;
    --headerFont: 'Inconsolata','Arial';
    --sectionFont: 'Space Mono', 'Arial';
    --footerFont: 'Montserrat', sans-serif;
}
/* ------------------------------------ */



/* HEADER  */
header{
    padding: 2.5rem 4.8125rem;
}

header h1{
    font-family: var(--headerFont);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: var(--dark);
    width: 133px;
}
/* ------------------------------------ */



/* SECTION */
section{
    display: flex;
    justify-content: center;
    margin-top: 147.2px;
}

/* SECTION LEFT */
section .content-left{
    display: flex;

}
section .img-box img{
    width: 33.7015rem;
    height: 27.964375rem;
}

/* SECTION RIGTH */
section .content-right h2{
    font-family:var(--sectionFont) ;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -0.035em;
    line-height: 95px;
    color: var(--dark);
    width: 586px;
}
section .content-right p{
    font-family: var(--sectionFont);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.035em;
    line-height: 36px;
    color: var(--lightDark);
    width: 381px;
}
section .content-right button{
    font-family: var(--sectionFont);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.035em;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--white);

    background-color: #333333;
    border: none;
    cursor: pointer;
    padding: 1.5rem 2.6875rem;
}
/* ------------------------------------ */





/* FOOTER */

footer p{
    font-family: var(--footerFont);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: var(--softDark);
    text-align: center;
}
footer p strong{
    text-decoration-line: underline;
}
/* ------------------------------------ */

